.button {
    border-left-color: rgba(25, 135, 84, 255);
    border-right-color: rgba(25, 135, 84, 255);
    border-top-color: rgba(25, 135, 84, 255);
    border-bottom-color: rgba(25, 135, 84, 255);
    background-color: rgba(25, 135, 84, 255);
    -unity-font-style: bold;
    font-size: 18px;
}
